<div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Share This Workflow With Someone
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)=
              "activeModal.dismiss('Cross click')">

            <span aria-hidden="true">
                ×
            </span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="shareForm" (ngSubmit)="onSubmit(workflow)">
      <div class="form-group">

        <label for="username">
          Username of target user
        </label>
        <input  class="form-control" id="username" type="text" formControlName="username">

        <br>
        <label for="accessType">
          Access Level (Read or Write)
        </label>
        <div id = "accessType">
          <select class="custom-select" formControlName = "accessType">
            <option value="" disabled>Choose Access Level To Be Shared</option>
            <option *ngFor = "let accesstype of accessTypes" [ngValue] = "accesstype" (change)="changeType($event)">{{accesstype}}</option>
          </select>

        </div>
        <br>
        <br>
        <button class="btn
                            btn-primary" type="submit">Share</button>
      </div>
    </form>
    <br>
    <button class="btn" type = "button" (click) = "onClickGetAllSharedAccess(workflow)"><i class = "fa fa-refresh"></i></button>
    <label for = "current-share">Shared Access:</label>
    <ul class = "current-share" id = "current-share"><li *ngFor="let curr of sharedUsers">{{curr}}  ---->   {{this.currentShare.get(curr)}}<button class="btn" type = "button" (click) = "onClickRemoveAccess(workflow, curr)"><i class = "fa fa-trash"></i></button></li></ul>


  </div>
  <div class="modal-footer">
    <p>Reminder: Read Access is Read-only while Write Access Dominates</p>
  </div>

