<div class="texera-workspace-property-editor-body texera-workflow-component-body">
  <div *ngIf="propertyEditService.displayForm">
    <h3 *ngIf="propertyEditService.formTitle" class="texera-workspace-property-editor-title" mat-subheader>
      {{propertyEditService.formTitle}}
    </h3>

    <form class="texera-workspace-property-editor-form" [formGroup]="propertyEditService.formlyFormGroup"
          *ngIf="propertyEditService.formlyFields">
      <formly-form [model]="propertyEditService.formData"
                   [fields]="propertyEditService.formlyFields"
                   [options]="propertyEditService.formlyOptions"
                   [form]="propertyEditService.formlyFormGroup"
                   (modelChange)="propertyEditService.onFormChanges($event)">
      </formly-form>
    </form>

    <texera-type-casting-display [operatorID]='propertyEditService.currentOperatorID'></texera-type-casting-display>

    <texera-breakpoint-control-panel></texera-breakpoint-control-panel>

  </div>
</div>
