<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Comment-Box
  </h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close"
          class="close" type="button">
            <span aria-hidden="true">
                ×
            </span>
  </button>
</div>
<div class="modal-body">
  <nz-list [nzItemLayout]="'horizontal'">
    <nz-list-item *ngFor="let item of commentBox.comments">
        <nz-comment [nzAuthor]="item.creator" [nzDatetime]="item.creationTime">
          <nz-comment-content>
            <p>{{ item.content }}</p>
          </nz-comment-content>
        </nz-comment>
      </nz-list-item>
    </nz-list>
  <form (ngSubmit) = "onClickAddComment()" [formGroup]="commentForm">
    <input type="text" formControlName = "comment">
    <button class="btn btn-primary" type="submit">Share</button>
  </form>
</div>
