<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Comment-Box
  </h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close"
          class="close" type="button">
            <span aria-hidden="true">
                ×
            </span>
  </button>
</div>
<div class="modal-body">
  <ul class = 'current-comment-box'>
    <li *ngFor = "let savedComment of savedComments">
      {{savedComment}}
    </li>
  </ul>
  <form (ngSubmit) = "onClickAddComment()" [formGroup]="commentForm">
    <input type="text" formControlName = "comment">
    <button class="btn btn-primary" type="submit">Share</button>
  </form>
</div>
